<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/results.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/draggable.js"></script>

</head>

<body>

  <div style="height: 800px;"><%= poll[0].poll %>
    <ul>
      <% for (const choice of poll) { %>
      <li ><%= choice.choice %>, <%= choice.points %></li>
      <% } %>
    </ul>
  </div>

  <div class="graph">
    <div class="graph-yaxis">

    </div>
    <div class="graph-data">
      <div class="graph-data-body">
        <% for (const choice of poll) { %>
          <% const height = barHeight * Number(choice.points); %>
          <div style="background-color: red;height: <%= height %>px;width: <%= barWidth %>px"></div>
          <% } %>
      </div>
      <div class="graph-yaxis">

      </div>
    </div>

  </div>

</body>

</html>
